*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.3333%;
}



#content {
    width: 100%;
    min-height: 500px;
    border:solid 1px #000;
}

#content #slider{
    position: relative;
    /* margin-top: 46px; */
    padding-top: 50%;
    background-image: url("../img/slider1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: #575656 1px solid;
}


#content .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* left: 50%;
    transform: translateX( -50%); */
    width: 100%;
    text-align: left;
    padding-left: 50px ;
    padding-bottom: 70px;
    width: 430px;
}

#content .text-heading{
    font-weight: 600;
    font-size: 30px;
    width: 270px;
}


#content .text-description{
    text-align: justify;

}

.place-btn {
    background-color: red;
    color: #fff;
    border: 1px solid fff;
    padding: 11px 16px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    float: left;
    text-decoration: none;
    margin-top: 20px;
}

.place-btn:hover{
    color: #000;
    background-color: #f44336;
}

/* Giới thiệu chung */

#content h2{
    font-size: 32px;
    font-weight: 500;
    color: rgb(2, 87, 2);
    
}

#content h3{
    font-size: 20px;
    font-weight: 500;
    color: rgb(4, 138, 4);
    margin-top: 16px;
}

#content p{
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
    margin-top: 12px;
}

.contact-ti{
    font-size: 18px;
    line-height: 1.5;
}

.contact-ti i[class*="ti-"] {
    width: 30px;
    display: inline-block;
} 

.about-img{
    width: 100%;
    display: block;
    border-radius: 20px;

}

.about-img:hover {
    opacity: 0.6;
}


/* sản phẩm chính */
#content .content-section{
    width: 1000px;
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-item{
    margin-top: 48px;
} 



#content .member-name{
    font-size: 15px;
    text-align: center;
}

#content .member-img{
    width: 250px;
    height: 150px;
    margin-top: 15px;
    border-radius: 4px;
    box-shadow: #000 0px 4px 8px 0px;
}


